# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
.venv/
env/
.env/

# Node
node_modules/
npm-debug.log
yarn-error.log
.npm-cache/
.npm/

# Mac
.DS_Store

# IDE
.idea/
.vscode/
